[submodule "ERC20-Token/lib/foundry-devops"]
	path = ERC20-Token/lib/foundry-devops
	url = https://github.com/cyfrin/foundry-devops
[submodule "nft-collection/lib/forge-std"]
	path = nft-collection/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "nft-collection/lib/openzeppelin-contracts"]
	path = nft-collection/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "defi_stablecoins/lib/forge-std"]
	path = defi_stablecoins/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "defi_stablecoins/lib/foundry-devops"]
	path = defi_stablecoins/lib/foundry-devops
	url = https://github.com/cyfrin/foundry-devops
[submodule "defi_stablecoins/lib/chainlink-brownie-contracts"]
	path = defi_stablecoins/lib/chainlink-brownie-contracts
	url = https://github.com/smartcontractkit/chainlink-brownie-contracts
[submodule "defi_stablecoins/lib/openzeppelin-contracts"]
	path = defi_stablecoins/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
